<div class="analytics-panel">
  <h2>Analítica de Ventas</h2>

  <div class="analytics-list">
    <div class="analytics-item">
      <div class="analytics-icon primary">
        <ion-icon name="bag-handle-outline"></ion-icon>
      </div>
      <div class="analytics-info">
        <h3>PEDIDOS EN LÍNEA</h3>
        <small>Últimas 24 Horas</small>
      </div>
      <div class="analytics-value">
        <span class="change positive">--</span>
        <h4>--</h4>
      </div>
    </div>

    <div class="analytics-item">
      <div class="analytics-icon danger">
        <ion-icon name="storefront-outline"></ion-icon>
      </div>
      <div class="analytics-info">
        <h3>PEDIDOS PRESENCIALES</h3>
        <small>Últimas 24 Horas</small>
      </div>
      <div class="analytics-value">
        <span class="change negative">--</span>
        <h4>--</h4>
      </div>
    </div>

    <div class="analytics-item">
      <div class="analytics-icon success">
        <ion-icon name="person-add-outline"></ion-icon>
      </div>
      <div class="analytics-info">
        <h3>NUEVOS CLIENTES</h3>
        <small>Últimas 24 Horas</small>
      </div>
      <div class="analytics-value">
        <span class="change positive">--</span>
        <h4>--</h4>
      </div>
    </div>
  </div>

  <div class="add-product">
    <ion-icon name="add-outline"></ion-icon>
    <span>Agregar Producto</span>
  </div>
</div>
